.category-list{
    display: flex;
    cursor: pointer;
    height: 40px;
    border-bottom: 1px solid black;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }
    .category-item{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        height: 25px;
        min-width: 120px;
        text-align: center;
        transition: all .2s ease-in;
    }
}