.movie-list{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 600px;
    overflow-y: scroll;
    .movie-item{
        height: 80px;
        padding: 4px 8px;
        border-bottom: 1px solid black;
        overflow-y: scroll;
        cursor: pointer;
        &::-webkit-scrollbar {
            display: none;
        }
        .movie-img{
            float: left;
            width: 60px;
            height: 80px;
            margin-right: 8px;
        }
        .movie-description{
            .movie-title{
                font-weight: bold;
            }
        }
        &:hover{
            height: auto;
        }
   }
}